# Игнорируем всё по умолчанию
*

# Разрешаем отслеживать только важные файлы конфигурации (Default profile)
!settings.json
!keybindings.json
!snippets/
!snippets/*.json
!tasks.json
!launch.json
!projects.json
!extensions.list

# Поддержка профилей (разрешаем структуру и конфиги внутри profiles/)
!profiles/
!profiles/*/
!profiles/*/settings.json
!profiles/*/keybindings.json
!profiles/*/extensions.list
!profiles/*/snippets/
!profiles/*/snippets/*.json
!profiles/*/tasks.json
!profiles/*/launch.json

# Скрипты и документация
!.scripts/
!.gitignore
!README.md

# Игнорируем специфические файлы и папки VSCodium
workspaceStorage/
globalStorage/
backups/
cachedData/
logs/
User/History/
User/workspaceStorage/
extensions/
syncLocalSettings.json